# Python
*.pyc
*.jpg
*.png

# Ignore data directory
tf_logs/
# pickled_data/
output/
output_models/
results_worth_saving/
.ipynb_checkpoints/
# Ignore miscellaneous files
junk.txt
generative_sample.py
